@model FindAndBook.Web.Models.Consumables.CreateMenuViewModel
    @{
        ViewBag.Title = "Add menu";
    }
    @Styles.Render("~/Content/create-menu.css")
    <fieldset class="col-md-10 col-md-offset-1">
        <legend>Add menu</legend>
        @Html.HiddenFor(x => x.PlaceId)
        <div class="container">
            <div class="row clearfix">
                <div class="form-group">
                    <div class="col-md-10" id="menu">

                    </div>
                </div>
            </div>
            @Ajax.ActionLink("Add consumable", "GetNewForm", new { id = Model.PlaceId }, new AjaxOptions
  {
      UpdateTargetId = "menu",
      InsertionMode = InsertionMode.Replace
  })
        </div>
    </fieldset>

    @section scripts {
        <script>
        </script>
    }
