
<div class="text-center container">
    <h1>You have made your order successfully!</h1>

    <div class="container">
        <h2>Your current bill is @ViewBag.CurrentBill lv.</h2>
    </div>
</div>    
