<div class="container">
    <div class="form-group">
        <input type="date" />
        <input type="time" />
        <input type="submit" value="See available tables" class="add-to-cart btn btn-default"/>
    </div>
</div>
