@model FindAndBook.Web.Models.Places.BookingViewModel
@using (Ajax.BeginForm("GetAvailableTables", new { controller = "Bookings" },
                new AjaxOptions { UpdateTargetId = "book-form", InsertionMode = InsertionMode.Replace }))
{
    @Html.HiddenFor(x => x.PlaceId)

    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date'>
                        @Html.EditorFor(m => m.DateTime, new { htmlAttributes = new { @class = "form-control", id = "datetimepicker1", name="dateTime" } })
                    </div>
                </div>
            </div>
            <input type="submit" value="See available tables" />
        </div>
    </div>
    <div class="container" id="book-tables"></div>
}