<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/495400-200.png" />
        </div>
        <h2 class="text-center">You cannot book a table<p> </p><p><small class="text-center"> Please login...</small></p></h2>
        <p class="text-center"><a class="btn btn-primary" href="/Home/Index"><i class="fa fa-home"></i> Take Me Home</a></p>
    </div>
</div>
