@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/495400-200.png" />
        </div>
        <h1 class="text-center">404 Not Found<p> </p><p><small class="text-center"> Oops, something went wrong...</small></p></h1>
        <p class="text-center">Try pressing the back button or clicking on this button.</p>
        <p class="text-center"><a class="btn btn-primary" href="/Home/Index"><i class="fa fa-home"></i> Take Me Home</a></p>
    </div>
</div>

