.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    background-color: rgba(127, 59, 79, 0.7);
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

img {
    width:150px;
}

.btn {
    background-color: rgba(127, 59, 79, 0.7);
    color: white;
    border: unset;
}

th {
    color: white;
}