#categories {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 20px;
}

#categories>li>a>img {
    height: 60px;
    width: 60px;
    /*display: inline-block;
    position: center;*/
}

