#categories {
    list-style-type: none;
}

#categories li {
    display: inline-block;
    padding-right: 20px;
}

#categories li a {
    color: rgba(127, 59, 79, 0.9) !important;
    font-size: 14pt !important;
    font-weight: bold;
}

#categories>li>a>img {
    height: 60px;
    width: 60px;
}

legend {
    color: rgba(127, 59, 79, 0.9);
    font-size: 22pt;
}

