body{
    background-image: url(https://ak3.picdn.net/shutterstock/videos/22131343/thumb/1.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.btn {
    
}