body{
    background-image: url(http://www.earthandpeople.bg/base/base_img/images/2017/02/q5-1.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.btn {
    
}