body{
    background-image: url(http://4.bp.blogspot.com/-buWb2dpBapo/T2vfQZLWTaI/AAAAAAAAD00/aBbh1bL5WKo/s1600/ocean-view-from-the-restaurant-at-the-12-apostles-hotel-and-spa.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    font-family: navFont;
    font-size: 60px;
    color: rgba(127, 59, 79, 0.9);
}

.btn {
    color: white;
    background-color: rgba(127, 59, 79, 0.9);
    border: none;
}