.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.nav-tabs li a {
    color: rgba(127, 59, 79, 0.7);
    font-size: 14pt;
}

th {
    background-color: rgba(127, 59, 79, 0.7);
    color: white;
}

td a {
    color: rgba(127, 59, 79, 0.7);
}
