@model FindAndBook.Web.Models.Account.ProfileViewModel
@Styles.Render("~/Content/profile.css")
<div class="container" style="margin-top: 30px;">
    <div class="profile-head">
        <div class="col-sm-4 col-xs-12">
            <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png" class="img-responsive" />
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <h5>@Model.FullName</h5>
            <p>@Model.Username </p>
            <ul>
                <li><span class="glyphicon glyphicon-phone"></span> <a href="#" title="call">(+021) 956 789123</a></li>
                <li><span class="glyphicon glyphicon-envelope"></span><a href="#" title="mail">@Model.Email</a></li>
            </ul>
        </div>
    </div>
</div>