@model FindAndBook.Web.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <h3>Find your favourite place, book it and enjoy!</h3>
    </div>
    @using (Html.BeginForm("Search", "Search"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="input-group-btn">
                <div class="row">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn active">Restaurants</button>
                        <button class="btn">Clubs</button>
                        <button class="btn">Cafe</button>
                    </div>
                    @Html.DropDownListFor(x => x.SearchBy, @Model.SearchByOptions)
                    @Html.EditorFor(x => x.Pattern, new { htmlAttributes = new { @class = "input form-control", placeholder = "Enter pattern..." } })
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <div id="result"></div>
</div>